<!DOCTYPE html>
<html layout:decorate="~{/layout1.html}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<head>
<meta charset="UTF-8">
<title>Profil</title>
</head>
<body>

	<main layout:fragment="main">
	<div class="form-up">
		<h1>Mon Profil</h1>
		<h2>Pseudo :</h2> 
		<h3 data-th-text="${Utilisateur.pseudo}"></h3>
	
		<h2>Crédit actuel :</h2>
		<h3 data-th-text="${Utilisateur.credit}"></h3>
	</div>
	
	<form class="form-bis" th:action="@{/AjoutCredit/Suite}" th:object="${Utilisateur}" method="post">
	
		<h2 th:text="'Nombre de crédits à ajouter :' "></h2> 
		<input type="number" th:field="*{credit}" min="0" required>
		
		<div class="buttons">
			<button class="btn" type="submit">Ajouter des crédits</button>
			<button class="btn" type="reset">Annuler</button>
		</div>
	</form>

	</main>

</body>
</html>