<!DOCTYPE html>
<html layout:decorate="~{/layout1.html}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<head>
<meta charset="UTF-8">
<title>Profil</title>
</head>
<body>

	<main layout:fragment="main">
		<h1>Mon Profil</h1>
		  <div>
			pseudo : <span data-th-text="${Utilisateur.pseudo}"></span><br>
			crédit actuel : <span data-th-text="${Utilisateur.credit}"></span>
		</div>
		<form class="creaProf" th:action="@{/AjoutCredit/Suite}"
			th:object="${Utilisateur}" method="post">

			<div class="creaTri">
			<span th:text="'Nombre de crédits à ajouter :' "></span> 
			<input type="number" th:field="*{credit}" min="0" required><br>
			</div>

			<button type="submit">Ajouter des crédits</button>
			<button type="reset">Annuler</button>
		</form>
		<br>
<!---->

	</main>

</body>
</html>