<!DOCTYPE html>
<html layout:decorate="~{/layout1.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<main layout:fragment="main">
	<h1>Mon Profil</h1>
	
	<form action="" method="post">
	
	<label for="pseudoInput">Pseudo :</label>
	<input type="text" id="pseudoInput">
	
	<label for="nomInput">Nom :</label>
	<input type="text" id="nomInput">
	
	<label for="prenomInput">Prénom :</label>
	<input type="text" id="prenomInput">
	
	<label for="emailInput">Email :</label>
	<input type="text" id="emailInput">
	
	<label for="telephoneInput">Telephone :</label>
	<input type="tel" id="telephoneInput">
	
	<label for="rueInput">Rue :</label>
	<input type="text" id="rueInput">
	
	<label for="codePostalInput">Code postal :</label>
	<input type="number" id="codePostalInput">
	
	<label for="villeInput">Ville :</label>
	<input type="text" id="villeInput">
	
	<label for="mdpInput">Mot de passe :</label>
	<input type="password" id="mdpInput">
	
	<label for="mdpVerifInput">Mot de passe :</label>
	<input type="password" id="mdpVerifInput">
	
	<button type="submit">Créer</button>
	<button type="reset">Annuler</button>
	</form>




</main>

</body>
</html>