<!DOCTYPE html>
<html layout:decorate="~{/layout1.html}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<main layout:fragment="main">
		<h1>Nouvel Article :</h1>

		<form class="creaProf" th:action="@{/CreationVente}" th:object="${article}" method="post">
			<div th:object="${utilisateur}">
				<input type="hidden" th:field="*{noUtilisateur}" />
			</div>
			<div class="creaTri">
				<label for="nomArticleInput"> Article : </label> 
				<input type="text" th:field="*{nomArticle}" required><br> <br>
			</div>
			<div class="creaTri">
				<label for="name"> Description : </label> 
				<input type="text" th:field="*{description}" required><br> <br>
			</div>

			<div class="creaTri">
				<label for="noCategorie">Categorie</label> 
				<select name="noCategorie" id="noCategorie" th:field="*{noCategorie}">
					<option
						th:each="categorie: ${@encheresCategoriesServiceImpl.categories}"
						th:value="${categorie.noCategorie}" th:text="${categorie.libelle}">Ici
						apparaissent les options</option>
				</select>
			</div>

			<div class="creaTri">
				<label for="name"> Prix initial : </label> 
				<input type="text" th:field="*{miseAPrix}" required><br> <br>
			</div>

			<div class="creaTri">
				<label for="name"> Début de l'enchère : </label> 
				<input type="date" th:field="*{dateDebutEncheres}" th:min="${dateDuJour}" required><br>
				<br>
			</div>

			<div class="creaTri">
				<label for="name"> Fin de l'enchère : </label> 
				<input type="date" th:field="*{dateFinEncheres}" th:min="${dateDuJour}" required><br>
				<br>
			</div>

			<fieldset class="creaTri">
				<legend>Retrait</legend>

				<div th:object="${retrait}">
					<div th:object="${utilisateur}">
						<label for="name"> Rue : </label> 
						<input type="text" th:field="*{rue}" th:value="${utilisateur.rue}" required><br>
						<br><label for="name"> Code postal : </label>
						<input type="text" th:field="*{codePostal}" required><br><br>

						<label for="name"> Ville : </label> 
						<input type="text"th:field="*{ville}" required><br><br>

					</div>
				</div>
			</fieldset>

			<button type="submit">Enregistrer l'article</button>
			<button type="reset">Annuler</button>
		</form>
		<br>

	</main>

</body>
</html>