<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1> Nouvel Acteur : </h1>

<form th:action="@{/Creation}" th:object="${article}" method="post">
<label for="nomArticleInput"> nom de l'article : </label>
<input type="text" th:field ="*{ArticleVendu}"  id="nomArticleInput" required><br>
<br>
<button type="submit">Ajouter l'article</button>
</form>


<br>
<a th:href="@{/}"><button>Vers l'accueil</button></a>

</body>
</html>