<!DOCTYPE html>
<html layout:decorate="~{/layout1.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

<main layout:fragment="main">
	<h1>Mon Profil</h1>
	
	<form class="creaProf" th:action="@{/CreationProfil/Suite}" th:object="${utilisateur}" method="post">
	
	<div class="creaTri">
	<label for="pseudoInput">Pseudo :</label>
	<input type="text" th:field="*{pseudo}" id="pseudoInput">
	
	<label for="nomInput">Nom :</label><br>
	<input type="text" th:field="*{nom}" id="nomInput"><br>
	</div>
	
	<div class="creaTri">
	<label for="prenomInput">Prénom :</label>
	<input type="text" th:field="*{prenom}" id="prenomInput">
	
	<label for="emailInput">Email :</label>
	<input type="text" th:field="*{email}" id="emailInput">
	</div>
	
	<div class="creaTri">
	<label for="telephoneInput">Telephone :</label>
	<input type="tel" th:field="*{telephone}" id="telephoneInput">
	
	<label for="rueInput">Rue :</label>
	<input type="text" th:field="*{rue}" id="rueInput">
	</div>
	
	<div class="creaTri">
	<label for="codePostalInput">Code postal :</label>
	<input type="number" th:field="*{codePostal}" id="codePostalInput">
	
	<label for="villeInput">Ville :</label>
	<input type="text" th:field="*{ville}" id="villeInput">
	</div>
	
	<div class="creaTri">
	<label for="mdpInput">Mot de passe :</label>
	<input type="password" th:field="*{motDePasse}" id="mdpInput">
	
	<label for="mdpVerifInput">Mot de passe :</label>
	<input type="password" id="mdpVerifInput">
	</div>
	
	<div class="creaTri">
	<button type="submit">Créer</button>
	<button type="reset">Annuler</button>
	</div>
	</form>




</main>

</body>
</html>