<!DOCTYPE html>
<html layout:decorate="~{/layout1.html}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<head>
<meta charset="UTF-8">
<title>Profil</title>
</head>
<body>
	<main layout:fragment="main">
		<h1>
			Détail de la vente :
			<!-- <span data-th-text="${Vendeur.pseudo}"></span>  -->
		</h1>

		<div th:object="${article}">
			<div class="imgDetailVente">
				<img alt="image-article-1" src="/images/pc_gamer.jpeg">
			</div>
			<h3 th:text="${article.nomArticle}"></h3>
			<p th:text="'Description : ' + ${article.description} "></p>
			<p th:text="'Categorie : ' + ${article.categorie?.libelle}"></p>
			<!--  -->
			<div th:if="${enchere.montantEnchere != null}">
			<div th:object="${enchere}">

				<p>

					<span
						th:text="'Meilleur Offre : ' + ${enchere.montantEnchere} + ' points par'"></span>

					<span th:text="${acheteur.pseudo}"></span>

				</p>

			</div>
</div>
			<p th:text="'Mise à prix : ' + ${article.miseAPrix} + ' points'"></p>
			<p th:text="'Fin de l\'enchère : ' + ${article.dateFinEncheres}"></p>

			<div th:object="${retrait}">
				<p th:text="'Retrait: ' + ${retrait.rue}  "></p>
				<p th:text="  ${retrait.codePostal} + ' ' + ${retrait.ville} "></p>

			</div>
			<p th:text="'Vendeur : ' + ${article.vendeur?.pseudo}"></p>
		</div>

		<form th:action="@{/EnchereAjout}" th:object="${enchere}"
			method="post">

			<div th:object="${article}">
				<input type="hidden" th:field="*{noArticle}"
					th:value="${article.noArticle}" required><br>
			</div>

			<div th:object="${utilisateur}">
				<input type="hidden" th:field="*{noUtilisateur}"
					th:value="${utilisateur.noUtilisateur}" required><br>
			</div>
			<span th:text="'Proposition :' "></span> <input type="number"
				th:field="*{montantEnchere}" required><br>

			<button type="submit">Valider l'enchere</button>
			<button type="reset">Annuler</button>
		</form>

	</main>
</html>

