<!DOCTYPE html>
<html layout:decorate="~{/layout1.html}"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<head>
<meta charset="UTF-8">
<title>Profil</title>
</head>
<body>
	<main layout:fragment="main">
		<h1>
			Détail de la vente :
			<!-- <span data-th-text="${Vendeur.pseudo}"></span>  -->
		</h1>

		<div th:object="${article}">
			<div class="imgDetailVente">
			<img th:if="${article.noCategorie} == 1" alt="image-article-1" th:src="@{/images/selectionnez.png}">
	 		<img th:if="${article.noCategorie} == 2" alt="image-article-1" th:src="@{/images/informatique.png}">
	 		<img th:if="${article.noCategorie} == 3" alt="image-article-1" th:src="@{/images/ameublement.png}">
	 		<img th:if="${article.noCategorie} == 4" alt="image-article-1" th:src="@{/images/vetements.png}">
	 		<img th:if="${article.noCategorie} == 5" alt="image-article-1" th:src="@{/images/sport-loisir.png}">
	 		<img th:if="${article.noCategorie} == 6" alt="image-article-1" th:src="@{/images/cuisine.png}">
			</div>
			<h3 th:text="${article.nomArticle}"></h3>
			<p th:text="'Description : ' + ${article.description} "></p>
			<p th:text="'Categorie : ' + ${article.categorie?.libelle}"></p>
			<!--  -->
			<div th:if="${enchere.montantEnchere != null}">
			<div th:object="${enchere}">

				<p>

					<span
						th:text="'Meilleur Offre : ' + ${enchere.montantEnchere} + ' points par'"></span>

					<span th:text="${acheteur.pseudo}"></span>

				</p>

			</div>
</div>

			<p th:text="'Mise à prix : ' + ${article.miseAPrix} + ' points'"></p>
			<p th:text="'Fin de l\'enchère : ' + ${article.dateFinEncheres}"></p>

			<div th:object="${retrait}">
				<p th:text="'Retrait: ' + ${retrait.rue}  "></p>
				<p th:text="  ${retrait.codePostal} + ' ' + ${retrait.ville} "></p>

			</div>
			<p th:text="'Vendeur : ' + ${article.vendeur?.pseudo}"></p>
		</div>


<div th:if="${resultatDate == 2}">
		<form th:action="@{/EnchereAjout}" th:object="${enchere}"
			method="post">

			<div th:object="${article}">
				<input type="hidden" th:field="*{noArticle}"
					th:value="${article.noArticle}" required><br>
			</div>

			<div th:object="${utilisateur}">
				<input type="hidden" th:field="*{noUtilisateur}"
					th:value="${utilisateur.noUtilisateur}" required><br>
			</div>
			<span th:text="'Vous avez : '+ ${utilisateur.credit} + ' crédits'"></span>
			<span th:text="'Proposition :' "></span> 
			<input type="number" th:field="*{montantEnchere}" th:min="${enchere.montantEnchere}" th:max="${utilisateur.credit}" required><br>
			
			<button type="submit">Valider l'enchere</button>
			<button type="reset">Annuler</button>
		</form>
	</div>
	
	<div th:if="${enchere.montantEnchere != null}" th:object="${enchere}">	
	<div  th:if="${resultatDate != 2}" >
	Le vainqueur de l'enchère est : <span th:text="${acheteur.pseudo}"></span>
	pour un montant de : <span th:text="${enchere.montantEnchere}"></span> points.
	</div>
	</div>
<!--  --><a th:href="@{/ModifVente (id=${article.noArticle})}"><button>Modifier la vente</button></a>

	</main>
</html>

