<!DOCTYPE html>
<html layout:decorate="~{/layout1.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Enchères Eni - Accueil</title>
<link rel="stylesheet" data-th-href="@{/styles/styles.css}">
<script src="/js/script.js"></script>
</head>
<body>

<main layout:fragment="main">

	<h1>Liste des enchères</h1>	
	<fieldset>
		<form th:action="@{/rechercher}" method="post">
			<div class="search-criteria"> 
				<div th:object="${article}">
					<input th:field="*{nomArticle}" class="searchbar" placeholder="Rechercher un article"><br> 
				</div>
				<div th:object="${categorie}"class="category">
					<label for="categorie">Categorie</label>
					<select name="categorie" id="categorie">
		    			<option th:each="categorie: ${@encheresCategoriesServiceImpl.categories}" th:value="${categorie.noCategorie}" th:text="${categorie.libelle}">Ici apparaissent les options</option>
					</select>
				</div>
			</div>
			<input class="button" type="submit" value="Rechercher">
		</form>
	</fieldset>
	
	<fieldset sec:authorize="isAuthenticated()" >
		<form th:action="@{/rechercher2}" method="post" >
			<div class="filtre-connexion">
					<div id="filtre-achats" class="filtre-achats" >
						<div>
							<label for="achats" >Mes achats</label>
							<input type="radio" id="achats" name="filtre" value="1" checked>
						</div>
						<div >
							<label for="encheres-ouvertes" id="encheres-ouvertes-txt">Enchères ouvertes</label>
							<input type="checkbox" id="encheres-ouvertes" name="encheres-ouvertes" value="true" >
						</div>
						<div >
							<label for="encheres-en-cours" id="encheres-en-cours-txt">Mes enchères en cours</label>
							<input type="checkbox" id="encheres-en-cours" name="encheres-en-cours" value="true" >
						</div>
						<div >
							<label for="encheres-remportees" id="encheres-remportees-txt">Mes enchères remportées</label>
							<input type="checkbox" id="encheres-remportees" name="encheres-remportees" value="true" >
						</div>
					</div>
					<div id="filtre-vente" class="filtre-vente" >
						<div>
							<label for="ventes">Mes ventes</label>
							<input type="radio" id="ventes" name="filtre" value="2" >
						</div>
						<div >
							<label for="ventes-en-cours" id="ventes-en-cours-txt">Ventes en cours</label>
							<input type="checkbox" id="ventes-en-cours" name="ventes-en-cours" value="true" >
						</div>
						<div >
							<label for="ventes-non-debutees" id="ventes-non-debutees-txt">Ventes non débutées</label>
							<input type="checkbox" id="ventes-non-debutees" name="ventes-non-debutees" value="true" >
						</div>
						<div >
							<label for="ventes-terminees" id="ventes-terminees-txt">Ventes terminées</label>
							<input type="checkbox" id="ventes-terminees" name="ventes-terminees" value="true" >
						</div>
					</div>
				</div>
				<input id="valider-formulaire" class="button" type="submit" value="Rechercher">
				
		</form>
	</fieldset>
	
	<div th:if="${#lists.isEmpty(articleVendu)}" class="liste-articles">
		<h1>Aucun article ne correspond a votre recherche</h1>	
	</div>

	<div class="liste-articles"> 
 		<div th:each="articlevendu:${articleVendu}" class="article">
	 		
 		<a th:href="@{/DetailVente(id=${articlevendu.noArticle})}">
	 		<div class="contenu-article">
	 		
	 		<div class="texte-article">
	 		<h3 th:text="${articlevendu.nomArticle}" ></h3>
	 		<p th:text="'Prix : ' + ${articlevendu.prixVente} + ' points'"></p>
	 		<p th:text="'Categorie : ' + ${articlevendu.categorie?.libelle}"></p>
	 		<p th:text="'Fin de l\'enchère : ' + ${articlevendu.dateFinEncheres}"></p>
	 		<a th:href="@{/ProfilVendeur(id=${articlevendu.noUtilisateur})}" sec:authorize="isAuthenticated()" th:text="'Vendeur : ' + ${articlevendu.vendeur?.pseudo}"></a><br>
<!--  			<a th:href="@{/DetailVente(id=${articlevendu.noArticle})}" sec:authorize="isAuthenticated()"  >Détails</a> -->
 		 	</div>
 		 	<div class="image-article">
	 		<img th:if="${articlevendu.noCategorie} == 1" alt="image-article-1" th:src="@{/images/selectionnez.png}">
	 		<img th:if="${articlevendu.noCategorie} == 2" alt="image-article-1" th:src="@{/images/informatique.png}">
	 		<img th:if="${articlevendu.noCategorie} == 3" alt="image-article-1" th:src="@{/images/ameublement.png}">
	 		<img th:if="${articlevendu.noCategorie} == 4" alt="image-article-1" th:src="@{/images/vetements.png}">
	 		<img th:if="${articlevendu.noCategorie} == 5" alt="image-article-1" th:src="@{/images/sport-loisir.png}">
	 		<img th:if="${articlevendu.noCategorie} == 6" alt="image-article-1" th:src="@{/images/cuisine.png}">
	 		</div>
 		 	</div>
 		 </a>
 		 </div>
 		 
 		 
	</div>
</main>



</body>
</html>