<!DOCTYPE html>
<html layout:decorate="~{/layout1.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Enchères Eni - Accueil</title>
<link rel="stylesheet" data-th-href="@{/styles/styles.css}">
</head>
<body>

<main layout:fragment="main">

	<h1>Liste des enchères</h1>
	
	<h2>Filtres</h2>
	
	<fieldset>
		<form th:action="@{/rechercher}" method="post">
			<div class="search-criteria"> 
				<div th:object="${article}">
					<input th:field="*{nomArticle}" class="searchbar" placeholder="Rechercher un article"><br> 
				</div>
				<div th:object="${categorie}"class="category">
					<label for="categorie">Categorie</label>
					<select name="categorie" id="categorie">
		    			<option th:each="categorie: ${@encheresCategoriesServiceImpl.categories}" th:value="${categorie.noCategorie}" th:text="${categorie.libelle}">Ici apparaissent les options</option>
					</select>
				</div>
<!-- 				<div class="filtre-connexion"> -->
<!-- 					<div class="filtre-achats"> -->
<!-- 						<div> -->
<!-- 							<label for="achats">Mes achats</label> -->
<!-- 							<input type="radio" id="achats" name="filtre" value="1" > -->
<!-- 						</div> -->
<!-- 						<div> -->
<!-- 							<label for="encheres-ouvertes">Enchères ouvertes</label> -->
<!-- 							<input type="checkbox" id="encheres-ouvertes" name="encheres-ouvertes" value="1"> -->
<!-- 						</div> -->
<!-- 						<div> -->
<!-- 							<label for="encheres-en-cours">Enchères en cours</label> -->
<!-- 							<input type="checkbox" id="encheres-en-cours" name="encheres-en-cours" value="2"> -->
<!-- 						</div> -->
<!-- 						<div> -->
<!-- 							<label for="encheres-remportees">Enchères remportées</label> -->
<!-- 							<input type="checkbox" id="encheres-remportees" name="encheres-remportees" value="3"> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					<div class="filtre-vente"> -->
<!-- 						<div> -->
<!-- 							<label for="ventes">Mes ventes</label> -->
<!-- 							<input type="radio" id="ventes" name="filtre" value="2" > -->
<!-- 						</div> -->
<!-- 						<div> -->
<!-- 							<label for="ventes-en-cours">Ventes en cours</label> -->
<!-- 							<input type="checkbox" id="ventes-en-cours" name="ventes-en-cours" value="1"> -->
<!-- 						</div> -->
<!-- 						<div> -->
<!-- 							<label for="ventes-non-debutees">Ventes non débutées</label> -->
<!-- 							<input type="checkbox" id="ventes-non-debutees" name="ventes-non-debutees" value="2"> -->
<!-- 						</div> -->
<!-- 						<div> -->
<!-- 							<label for="ventes-terminees">Ventes terminées</label> -->
<!-- 							<input type="checkbox" id="ventes-terminees" name="ventes-terminees" value="3"> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 				</div> -->
			</div>
			<input class="button" type="submit" value="Rechercher">
		</form>
	</fieldset>
	
	<fieldset>
		<form th:action="@{/rechercher2}" method="post">
			<div class="filtre-connexion">
					<div class="filtre-achats">
						<div>
							<label for="achats">Mes achats</label>
							<input type="radio" id="achats" name="filtre" value="1" >
						</div>
						<div>
							<label for="encheres-ouvertes">Enchères ouvertes</label>
							<input type="checkbox" id="encheres-ouvertes" name="encheres-ouvertes" value="1">
						</div>
						<div>
							<label for="encheres-en-cours">Enchères en cours</label>
							<input type="checkbox" id="encheres-en-cours" name="encheres-en-cours" value="2">
						</div>
						<div>
							<label for="encheres-remportees">Enchères remportées</label>
							<input type="checkbox" id="encheres-remportees" name="encheres-remportees" value="3">
						</div>
					</div>
					<div class="filtre-vente">
						<div>
							<label for="ventes">Mes ventes</label>
							<input type="radio" id="ventes" name="filtre" value="2" >
						</div>
						<div>
							<label for="ventes-en-cours">Ventes en cours</label>
							<input type="checkbox" id="ventes-en-cours" name="ventes-en-cours" value="1">
						</div>
						<div>
							<label for="ventes-non-debutees">Ventes non débutées</label>
							<input type="checkbox" id="ventes-non-debutees" name="ventes-non-debutees" value="2">
						</div>
						<div>
							<label for="ventes-terminees">Ventes terminées</label>
							<input type="checkbox" id="ventes-terminees" name="ventes-terminees" value="3">
						</div>
					</div>
				</div>
				<input class="button" type="submit" value="Rechercher">
				
		</form>
	</fieldset>
	
	<div th:if="${#lists.isEmpty(articleVendu)}" class="liste-articles">
		<h1>Aucun article disponible à la vente actuellement</h1>	
	</div>

	<div class="liste-articles">
 		<div th:each="articlevendu:${articleVendu}" class="article">
 		 		<img alt="image-article-1" src="/images/pc_gamer.jpeg">
 		 		<h3 th:text="${articlevendu.nomArticle}" ></h3>
 		 		<p th:text="'Prix : ' + ${articlevendu.prixVente} + ' points'"></p>
 		 		<p th:text="'Categorie : ' + ${articlevendu.categorie?.libelle}"></p>
 		 		<p th:text="'Fin de l\'enchère : ' + ${articlevendu.dateFinEncheres}"></p>
 		 		<a th:href="@{/ProfilVendeur(id=${articlevendu.noUtilisateur})}" th:text="'Vendeur : ' + ${articlevendu.vendeur?.pseudo}"></a>
 		 		</div>
	</div>
	
	
</main>
	
</body>
</html>