<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" data-th-href="@{/styles/styles.css}">
</head>
<body>

	<header class="navbar">
		<a href="/accueil"> <img alt="logo-horizontal" src="/images/logo-horizontal.png"></a>
		<div class="liens">
			<a th:href="@{/CreationProfil}"> S'inscrire  &emsp; </a>
			<a th:href="@{/CreationVente}"> Créer une vente&emsp; </a>
			<a th:href="@{/}"> Accueil &emsp;</a>
			<a th:href="@{/ProfilUtilisateur}"> Votre Profil&emsp;</a>
			<a th:href="@{/login}"> Se connecter&emsp;</a>
			<a th:href="@{/login?logout}"> Se déconnecter</a>
			
		</div>
	</header>
	
	<main layout:fragment="main"></main>

</body>
</html>