<!DOCTYPE html>
<html layout:decorate="~{/layout1.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"><head>
<head>
<meta charset="UTF-8">
<title>Profil</title>
</head>
<body>
<main layout:fragment="main">
<h1>Profil Utilisateur :</h1>
	
		<div>
			    nom :   <span data-th-text="${Vendeur.nom}"></span><br> 
			    prenom : <span data-th-text="${Vendeur.prenom}"></span><br>
				email : <span data-th-text="${Vendeur.email}"></span><br>
				telephone : <span data-th-text="${Vendeur.telephone}"></span><br>
				rue : <span data-th-text="${Vendeur.rue}"></span><br>
				code postal : <span data-th-text="${Vendeur.codePostal}"></span><br>
				ville : <span data-th-text="${Vendeur.ville}"></span>
		
		</div>
		</main>
</html>

