<!DOCTYPE html>
<html layout:decorate="~{/layout1.html}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"><head>
<head>
<meta charset="UTF-8">
<title>HELLO</title>
</head>
<body>
<main layout:fragment="main">
<h1>Profil Utilisateur </h1>
<h2>PROFILLLLLLLLLLLLLLLLL</h2>
<div>	 
			 pseudo : 
			 <span data-th-text="${Utilisateur.pseudo}"></span><br>
			 nom : 
			   <span data-th-text="${Utilisateur.nom}"></span><br> 
			 prénom : 
			 <span data-th-text="${Utilisateur.prenom}"></span><br>
			 email : 
			 <span data-th-text="${Utilisateur.email}" ></span><br>
			 téléphone : 
			 <span data-th-text="${Utilisateur.telephone}"></span><br> 
			 rue : 
			 <span data-th-text="${Utilisateur.rue}"></span> 
			 code postal : 
			 <span data-th-text="${Utilisateur.codePostal}"></span> 
			 ville : 
			 <span data-th-text="${Utilisateur.Ville}"></span><br>
		 
		 </div>
		<!--   noUtilisateur=3, pseudo=User, nom=User, prenom=User, email=User@gmail.com, telephone=0556720017, rue=User, codePostal=33650,
		  ville=User, motDePasse=$2a$10$BVaAJwdHewlycUNi.Kgws.9rrD2CNt1PyWSlZ7djHB0DvNamBMDGG,-->
		
		<button>Modifier le Prodil</button>
		</main>
</body>
</html>