@charset "UTF-8";

body{
	font-family: arial;
}

h1{
	font-size: 1.5rem;
	color: #F1895C;	
	text-align: center;
	
}


h2{
	font-size: 1rem;
	padding: 10px;
	
}

a{
	text-decoration: none; 
	color:white;
	font-weight: normal;
}

.button{
	border: solid;
	border-color: #F1895C; 
	border-radius:7px;
	background-color: #F1895C;
	width: 45%;
}

fieldset{
	margin : 10px;
	border: solid;
	border-radius:7px;
	border-color: #C5C6C6;
	background-color: #C5C6C6; 
}

form{
	display: flex; 
	flex-direction: row;
	justify-content: space-around 
}

.navbar{
	display: flex; 
	justify-content: space-between;
	background-color: #516079;
	padding: 10px;
	border-radius: 7px;
	font-weight: bold;
}

.navbar img{
	height: 3rem;
}

.nom-site{
	font-size: 2rem;
	color: white;
}

.liens{
	display: flex; 
	flex-direction: row;
	align-items: center;
}


.searchbar{
	width: 90%;
	height: 1.5rem; 
	padding: 1%;
	margin:2%;
}

.search-criteria{
	width: 50%;
	
}	

.category{
	margin:2%;
}


.filtre-connexion {
	display: flex; 
	flex-direction: row;
	justify-content: space-evenly;
}

.filtre-connexion div{
	padding: 5px;
	display :flex;
	flex-direction: column;
	justify-content: space-between;
	}
	
.filtre-connexion div div{
	display :flex;
	flex-direction: row;
	justify-content: space-between;
	}


.liste-articles{
	display: flex; 
	flex-direction: row; 
	flex-wrap: wrap;
	justify-content: space-evenly
}

.article{
	width: 30vmax;
	border: solid;
	border-radius: 7px; 
	border-color: #F1895C; 
	color: #2E3244;
	background-color:#F1895C;
	padding: 1%;  
	margin: 10px;
}

.image-article img{
	width: 100%;
	
}

fieldset.creaProf {
	margin : 40px;
	border: solid;
	border-radius:7px;
	border-color: #C5C6C6;
	background-color: #C5C6C6; 
}

form.creaProf{
	display: flex; 
	flex-wrap: wrap;
}

.creaTri {
	width:80%;
	display: flex;
  	flex-wrap: wrap;
  	align-content: flex-start;
  	margin-bottom:10px; 	
}

.option-grisee{
	color: #516079;
}

.option-valide{
	color:black;
}

.contenu-article{
	display: flex;
	flex-direction: row;
	width: 100%;
}

.image-article{
	display:flex; 
	justify-content: space-around;
	align-items: center; 
	width: 20%;
	
}

.texte-article{
	
	width: 80%;
	
}