@charset "UTF-8";

body{
	font-family: arial;
}

h1{
	font-size: 1.5rem;
	color: #F1895C;	
}


h2{
	font-size: 1rem;
}

a{
	text-decoration: none; 
	color:white;
}

fieldset{
	margin : 10px;
}

.navbar{
	display: flex; 
	justify-content: space-between;
	background-color: #516079;
	padding: 10px;
	border-radius: 7px; 
	
}

.nom-site{
	font-size: 2rem;
	color: white;
}

.liens{
	display: flex; 
	flex-direction: row;
	align-items: center;
}


.liste-articles{
	display: flex; 
	flex-direction: row; 
	justify-content: space-evenly
}

.article{
	width: 30vmax;
	border: solid;
	border-radius: 7px; 
	border-color: #F1895C; 
	color: #2E3244;
	background-color:#F1895C; 
}

